<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= will_paginate %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		</section>
	</aside>
</div> 