<% provide(:title, "Show") %>
<!-- Main Content -->
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<h5>Published <%= time_ago_in_words (@page.published_at) %> ago</h5>
		<p><%= @page.body %></p>

		<%= link_to "Edit", edit_page_path(@page), class: "btn btn-md btn-primary" %> | <%= link_to 'Back', root_path %>
	</div>
</div> 
